{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bob gym assistant</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'trainer_bob/styles/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'trainer_bob/styles/diet-blogs.css' %}">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>

<body>
  <header>
    <img src="{% static 'trainer_bob/images/main-logo.png'%}" alt="logo-main" class="main-logo" />
    <div class="nav-container">
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="dropdown">
            <a href="#">FIT Tools</a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'calorie-calc' %}">Calorie Calculator</a></li>
              <li><a href="{% url 'diet-planner' %}">Diet Planner</a></li>
            </ul>
          </li>
          <li><a href="{% url 'diet_blogs'%}">Diet-Blogs</a></li>
          <li><a href="#">About us</a></li>
          <li>
            <button class="user-log">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor"
                  d="M12 12a5 5 0 1 0-5-5a5 5 0 0 0 5 5zm0 2c-4.418 0-8 2.239-8 5v1h16v-1c0-2.761-3.582-5-8-5z"></path>
              </svg>
            </button>
          </li>
          <li>
            <button class="ex-plan">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor"
                  d="M9 2a2 2 0 0 0-2 2H6a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1a2 2 0 0 0-2-2H9zm0 2h6v2H9V4zm-1 6h8v2H8v-2zm0 4h8v2H8v-2z">
                </path>
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="main-content">
    <div class="content">
      <div class="content-block">
        <img src="https://images.healthshots.com/healthshots/en/uploads/2023/12/22180215/Calorie-deficit.jpg" />
        <div class="text-cont">
          <h3 id="title">Calorie deficit</h3>
          <p class="dat-details">April 02 2026</p>
          <p class="intro">The main goal of calorie deficit is to identify where to begin and where to set your goals.
          </p>
          <a class="read-more" data-type="deficit">Read more..</a>
        </div>
      </div>
      <div class="content-block">
        <img src="https://www.sallypattison.com.au/wp-content/uploads/2022/03/cico.jpg" />
        <div class="text-cont">
          <h3 id="title">Calorie surplus</h3>
          <p class="dat-details">April 02 2026</p>
          <p class="intro">We are here for being healthy and being in shape. That is the motive for weight-gain.</p>
          <a class="read-more" data-type="surplus">Read more..</a>
        </div>
      </div>
    </div>
  </div>

  <div class="new-blog">
    <a class="create-blog">+</a>
  </div>

  <div class="blog-window">
    <div class="form-window">
      <div class="blog-form">
        <form class="blog-form" method="POST">

          <span class="blog-close-btn">&times;</span>
          <p class="blog-title">Create Blog</p>

          <div class="form-group">
            <label>Title</label>
            <input type="text" name="title" placeholder="Enter blog title" required />
          </div>

          <div class="form-group">
            <label>Image URL</label>
            <input type="text" name="image" placeholder="Attach url" required />
          </div>

          <div class="form-group">
            <label>Content</label>
            <textarea name="content" rows="8" placeholder="Write your content" required>
            </textarea>
          </div>

          <button type="submit">
            Publish Blog
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="float-window">
    <div class="small-window">
      <span class="close-btn">&times;</span>
      <div class="str-text">
        <h3 id="output"></h3>
        <div id="modal-content"></div>
      </div>
    </div>
  </div>

  <script>
    const calDef = {{ cal_def| safe }};
    const calSurp = {{ cal_surp| safe }};    
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <script src="{% static 'trainer_bob/scripts/dietdetail.js' %}"></script>

</body>

</html>