{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bob gym assistant</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'trainer_bob/styles/home.css' %}">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>

<body>
  {% include 'includes/header.html' %}

  <div class="get-started">
    <div class="container">
      <p class="txt-md bolder">A place to build yourself with structured program</p>
      <a class="button-card" href="#exercise">Get Started</a>
    </div>
  </div>

  <div class="trainer" id="exercise">
    <div class="trainer-container">
      <p class="txt-md bolder">Organize and optimize your training program</p>
      <a class="button-card" href="{% url 'exercises' %}">Train</a>
    </div>
  </div>

  <div class="diet-planner">
    <div class="planner-container">
      <p class="txt-md bolder">Plan and strategize your diet</p>
      <a class="button-card" href="{% url 'diet-planner'%}">Plan </a>
    </div>
  </div>

</body>

</html>