{% load static %}

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'trainer_bob/styles/navbar.css' %}">
</head>

<header>
  <img src="{% static 'trainer_bob/images/main-logo.png'%}" alt="logo-main" class="main-logo" />
  <div class="nav-container">
    <nav>
      <div class="normal-menu">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="dropdown">
            <a href="#">FIT Tools</a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'calorie-calc' %}">Calorie Calculator</a></li>
              <li><a href="{% url 'diet-planner' %}">Diet Planner</a></li>
            </ul>
          </li>
          <li><a href="{% url 'diet_blogs'%}">Diet-Blogs</a></li>
          <li><a href="#">About us</a></li>
          <li>
            <a class="user-log" href="{% url 'sign-in' %}">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor"
                  d="M12 12a5 5 0 1 0-5-5a5 5 0 0 0 5 5zm0 2c-4.418 0-8 2.239-8 5v1h16v-1c0-2.761-3.582-5-8-5z"></path>
              </svg>
            </a>
          </li>
          <li>
            <a class="ex-plan">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor"
                  d="M9 2a2 2 0 0 0-2 2H6a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1a2 2 0 0 0-2-2H9zm0 2h6v2H9V4zm-1 6h8v2H8v-2zm0 4h8v2H8v-2z">
                </path>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <button class="hamburger-button">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
      </button>

      <div class="mobile-menu">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="mobile-dropdown">
            <a href="#">FIT Tools</a>
            <ul class="mobile-dropdown-menu">
              <li><a href="{% url 'calorie-calc' %}">Calorie Calculator</a></li>
              <li><a href="{% url 'diet-planner' %}">Diet Planner</a></li>
            </ul>
          </li>
          <li><a href="{% url 'diet_blogs'%}">Diet-Blogs</a></li>
          <li><a href="#">About us</a></li>
          <li>
            <button class="user-log">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor"
                  d="M12 12a5 5 0 1 0-5-5a5 5 0 0 0 5 5zm0 2c-4.418 0-8 2.239-8 5v1h16v-1c0-2.761-3.582-5-8-5z"></path>
              </svg>
            </button>
          </li>
          <li>
            <button class="ex-plan">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor"
                  d="M9 2a2 2 0 0 0-2 2H6a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1a2 2 0 0 0-2-2H9zm0 2h6v2H9V4zm-1 6h8v2H8v-2zm0 4h8v2H8v-2z">
                </path>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<script src="{% static 'trainer_bob/scripts/nav.js' %}"></script>